@media screen and (min-width: 768px) {

    main {
        max-width: 1200px;
        margin: auto;
    }

    .hero-container {
        position: relative;
    }

    .section-data {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 280px;
    }

    .section-weather {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 260px;
    }

    .mobile-weather-icon {
        display: none;
    }

    .weather-heading::after {
        content: " ⛅";
        margin-left: 0.5rem;
    }

    header h1 {
        font-size: 3rem;
    }
}